body{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: gray;
}

h1, h2, h3, h4, h5{
  font-family: 'Raleway', sans-serif;
}

h1{
  margin-bottom: 30px;
  margin-top: 75px;
}

header{
  height: 60%;
  background: url(../img/logo.gif);
  background-size: 100%
}

.rates{
  margin: auto;
  margin-bottom: 35px;
}

#service-rates p{
  margin-top: 20px;
}

#service-rates h3{
  height: 57px;
  width: 500px;
  margin: auto;
  border: black solid 2px;
  border-radius: 5px;
  padding-top: 5px;
}

nav ul{
  border-bottom: solid black 1px;
}

nav ul li{
  display: inline;
  padding: 40px;
}

nav ul li a{
  color: black;
  font-size: 25px;
  font-weight: bold;
}
