html, body{
  overflow-x: hidden;
}

body{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: gray;
  font-size: 2em;
}

.hidden{
  display: none;
}

.visible{
  display: inline;
}

nav{
  z-index: 500;
  background-color: #FF3030;
  width: 100%;
}

nav ul{
  display: block;
  margin: auto;
  text-align: center;
}

nav ul li{
  display: inline-block;
  font-size: 2em;
  padding: 5px 25px;
  color: white;
}

nav ul li span{
  font-weight: 400;
}


h2, h3, h4, h5{
  font-family: 'Quicksand', sans-serif;
}

h2{
  margin-bottom: 35px;
}

header{
  height: 60%;
  background: url(../img/IMG_5421.jpg) no-repeat;
  background-size: 100%;

}

h1{
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  font-weight: bold;
  font-size: 3.5em;
  font-family: 'courier';
}

h1 a {
  color: black;
}

h1 :hover{
  color: black;
  opacity: 0.6;
}

#about-header{
  background: #FF3030;
  color: white;
  padding: 30px 0;
}

#about-header h1{
  color: white;
}

#about-header p{
  margin: 30px auto;
  line-height: 1.8em;
  color: white;
  font-size: 16px;
  text-align: left;
  width: 90%;
  max-width: 700px;
}

#about-more-info{
  margin-top: 20px;
}
#about-more-info p{
  color: black;
}

#about-more-info h5{
  font-weight: bold;
  margin-bottom: 25px;
}

#about-more-info i{
  font-size: 2em;
}

.about-anchor a{
  color: black;
}

.about-anchor :hover{
  opacity: 0.6;;
}

.staff-image{
  border-radius: 1em;
}

#faqs{
  margin: 0 16px 30px 16px;
  text-align: left;
}
#faqs h4{
  font-weight: bold;
}

.association{
  width: 136px;
  margin-bottom: 40px;
}

.rates-table{
  margin: auto;
  margin-bottom: 7%;
}

#service-rates h4{
  color: gray;
  margin-bottom: 4%;
}

#service-rates h1{
  margin-bottom: 44.25px;
  background-color: #FF3030;
  width: 100%;
  color: white;
  padding: 30px 0;
  margin: 45px 0 65px 0;
}

.img-right, .img-left{
  /*margin-top: 52px;*/
  margin-bottom: 7%;
  margin-top: 6%;
  border-radius: 10em;
}

#contact-info p{
  color: black;
}

#contact-info i{
  font-size: 2em;
  color: black;
}

#contact-info a :hover{
  opacity: 0.6;
}

footer{
  padding-top: 40px ;
  padding-bottom: 30px;
  background: #FF3030;
}

footer p{
  font-weight: 400;
  font-size: 20px;
  color: white;
  margin-bottom: 0;
  margin-top: 1%;
}

footer i{
  padding: 5px;
  margin: 10px;
  color: white;
}

footer a :hover{
  color: #d5d7d8;
}

#logo{
  max-height: 40%;
  max-width: 100%;
}

@media (max-width: 900px) {
  header{
    height: 300px;
  }
  nav ul li{
    font-size: 1.25em;
  }
  h1{
    font-size: 1.75em;
  }
}

@media (max-width: 600px) {
  h1{
    font-size: 1em;
  }
}

