body{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: gray;
}

h1, h2, h3, h4, h5{
  font-family: 'Raleway', sans-serif;
}

h1{
  margin-bottom: 75px;
  margin-top: 75px;
  font-weight: bold;
  font-size: 3rem;
}

header{
  height: 60%;
  background: url(../img/logo.gif);
  background-size: 100%
}

.rates{
  margin: auto;
  margin-bottom: 35px;
}

#service-rates p{
  margin-top: 20px;
}

#service-rates h3{

}

.img-right, .img-left{
  margin-top: 52px;
  margin-bottom: 35px;
  border-radius: 10px;

}

.text-left{
  text-align: left;
}

.text-left .rates{
  float: left;
}

nav ul{
  border-bottom: solid black 1px;
}

nav ul li{
  display: inline;
  padding: 40px;
}

nav ul li a{
  color: black;
  font-size: 25px;
  font-weight: bold;
}
